#wikipedia { 
	display: none;
	position: absolute;
	top: 0;
	z-index:999999;
	width: 100%;
}

.wikicontent {
	background: #fff !important;
}

.wikiwrap {
	background: #5d8343 !important;
} 

.wikiheader { padding: 5px; }

div.iconlist div {
	width: 94px !important;
	height: 94px !important;
	border: 2px solid #5d8340;
	margin: 5px;
	padding: 2px;
	background: #fff;
}

div.iconlist div img {
	height: 80px !important;
	width: 80px !important;
}

#map { height: 300px; }

#counts {
	position: relative;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	padding-top: 1.5em;
}

#counts legend {
	position: absolute;
	top: 0;
	width: 120px;
}

.count-input {
	box-flex: 1;
	padding: 10px;
}

.count-input input {
	width: 40px;
}

.count-input label,
.count-input input {
	margin: 0 auto;
}

.ui-br {
	padding-bottom: 1em;
}

#category-info img {
	vertical-align: middle;
	margin-right: 10px;
}
