div.iconlist div {
	width: 102px !important;
	height: 102px !important;
	border: 2px solid #5d8340;
	margin: 5px;
	padding: 5px;
	background: #fff;
}

div.iconlist div a {
	height: 90px !important;
	width: 90px !important;
}

#map { height: 300px; }

#counts {
	display: -webkit-flex;
	display: flex;
	margin-top: 1em;
}

.count-input {
	flex: 1;
	padding: 10px;
}

.count-input input {
	width: 40px;
}

.count-input label,
.count-input input {
	margin: 0 auto;
}

.ui-br {
	padding-bottom: 1em;
}
